.lead {
  width: calc(100% - 296px);
  margin: 0 148px 92px;
}

@media screen and (max-width: 1280px) {
  .lead {
    width: calc(100% - 96px);
    margin: 0 48px 92px;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 100%;
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin-bottom: 64px;
  }
}