.header {
  width: calc(100% - 96px);
  min-height: 52px;
  padding: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1280px) {
  .header {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(100% - 48px);
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 32px);
    padding: 16px 16px 48px;
  }
}