.header {
  width: calc(100% - 96px);
  padding: 28px 48px 56px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (max-width: 1279px) {
  .header {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 48px);
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: calc(100% - 32px);
    padding: 16px 16px 48px;
  }
}