.lead__title {
  width: 720px;
  margin: 0 auto 32px;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: #fff;
}

@media screen and (max-width: 760px) {
  .lead__title {
    width: 288px;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
  }
}