.lead__subtitle {
  width: 640px;
  margin: 0 auto 64px;
  text-align: center;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 760px) {
  .lead__subtitle {
    width: 288px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
}