.cover {
  max-width: calc(100% - 48px*2);
  margin: 0 48px 92px;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .cover {
    max-width: 100%;
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 64px;
  }
}