.place__link {
  width: fit-content;
  width: -moz-fit-content;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fff;
}

.place__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .place__link {
    margin-left: 16px;
  }
}