.cover__overlay {
  text-decoration: none;
  width: 100%;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: 1;
  transition: opacity .2s ease-in;
}

.cover__overlay:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 800px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 520px) {
  .cover__overlay {
    min-height: 200px;
  }
}