.footer {
  width: calc(100% - 48px*2);
  margin: 0 48px 0;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 24px*2);
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    width: max-content;
    min-height: 310px;
    margin: 0 16px 0;
    flex-direction: column;
    align-items: flex-start;
  }
}