.place__url-heading {
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2.4px;
  color: #aaa;
  margin: 0 0 12px;
}

@media screen and (max-width: 768px) {
  .place__url-heading {
    margin: 0 16px 12px;
  }
}